.InputfieldMapMarker input[type=number], 
.InputfieldMapMarker input[type=text] {
	width: 99.5%; 
}

.InputfieldMapMarkerToggle span {
	display: none; 
}

.InputfieldMapMarkerAddress {
	float: left; 
	width: 70%; 
	padding-right: 2%; 
}

.InputfieldMapMarkerToggle {
	float: left; 
	width: 28%; 
}

.InputfieldMapMarkerLat,
.InputfieldMapMarkerLng {
	width: 42%; 
	float: left; 
	padding-right: 2%; 
}

.InputfieldMapMarkerZoom {
	float: left; 
	width: 10%; 
}

.InputfieldMapMarker .notes {
	clear: both; 
}

.InputfieldMapMarkerMap {
	width: 100%; 
	height: 300px; 
	clear: left;
}

@media only screen and (min-width: 768px) {

	.InputfieldMapMarkerAddress {
		width: 38%; 
		padding-right: 1%; 
	}

	.InputfieldMapMarkerToggle {
		width: 2%; 
		padding-right: 0.5%; 
		position: relative;
	}

	.InputfieldMapMarkerToggle strong {
		/* hide geocode label */
		display: none; 
	}

	.InputfieldMapMarkerLat,
	.InputfieldMapMarkerLng {
		width: 23%; 
		padding-right: 1%; 
	}

	.InputfieldMapMarkerZoom {
		float: left; 
		width: 9.5%; 
	}

}

